.header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0;
    border-radius: 0 0 3px 3px;
    background: #fff;
    line-height: 2em;
}

.topic-list {
    margin: 0;
}

.panel .cell:nth-child(1) {
    border-top: none;
}

.cell {
    background: #fff;
    position: relative;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
    overflow: hidden;
}

.cell:hover {
    background: #f5f5f5;
}

.cell:first-child {
    border-top: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.user-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.reply-count {
    width: 70px;
    display: inline-block;
    text-align: center;
}

.count-of-replies {
    color: #9e78c0;
}

.count-of-visits {
    font-size: 10px;
    color: #b4b4b4;
}

.topic-title-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.topic-title {
    margin-left: 4px;
    max-width: 70%;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}

.topic-tab {
    margin: 0 10px;
    color: #80bd01;
}

.last-time {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}

@media (max-width: 979px) {
    .last-time img {
        display: none;
    }
}

.user-small-avatar {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}

.topic-tab .current-tab {
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
}

.tag {
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
}

.put-top {
    background-color: #80bd01;
    color: #fff;
}